<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/11793efeb1.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <div class="row bg-dark text-white list-unstyled" style="height: 50px;">
     <%= link_to 'Bookers', root_path, class: 'col-lg-8 h4 d-flex align-items-center text-light' %>
     <% if user_signed_in? %>
     <li class="col-lg-1 d-flex align-items-center">
      <%= link_to user_path(current_user.id), class: 'text-light' do %>
       <i class="fas fa-home"></i>Home
      <% end %>
     </li>
     <li class="col-lg-1 d-flex align-items-center">
      <%= link_to users_path, class: 'text-light' do %>
       <i class="fas fa-users"></i>Users
      <% end %>
     </li>
     <li class="col-lg-1 d-flex align-items-center">
      <%= link_to books_path, class: 'text-light' do %>
       <i class="fas fa-book-open"></i>Books
      <% end %>
     </li>
     <li class="col-lg-1 d-flex align-items-center">
      <%= link_to destroy_user_session_path, class: 'text-light', method: :delete do %>
       <i class="fas fa-sign-out-alt"></i>Log out
      <% end %>
     </li>
    <% else %>
      <li class="col-lg-1 d-flex align-items-center">
      <%= link_to  root_path, class: 'text-light' do  %>
       <i class="fas fa-home"></i>Home
      <% end %>
      </li>
      <li class="col-lg-1 d-flex align-items-center">
      <%= link_to about_path, class: 'text-light' do  %>
       <i class="fas fa-link"></i>About
      <% end %>
      </li>
      <li class="col-lg-1 d-flex align-items-center">
       <%= link_to new_user_registration_path, class: 'text-light' do  %>
        <i class="fas fa-user-plus"></i>Sign up
       <% end %>
      </li>
      <li class="col-lg-1 d-flex align-items-center">
       <%= link_to new_user_session_path, class: 'text-light' do  %>
        <i class="fas fa-sign-in-alt"></i>Log in
       <% end %>
      </li>
     <% end %>
   </div>
   </header>
    <%= yield %>
  <footer>
   <div class='container mt-5'>
  	 <div class='row'>
    	<div class='mx-auto'>
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
   </div>
  </footer>
  </body>
</html>
